 body 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color : #ededed;
}

.topnav 
{
  overflow: hidden;
  background-color: #333;
  
}

.topnav a 
{
 
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:#ddd;
  color: #333;
}

.topnav .icon {
  display: none;
}

@keyframes spin 
{
      from {
             transform: rotateY(0deg);
           }
      to   {
             transform: rotateY(360deg);
           }
}
	
@media screen and (max-width: 600px) 
{
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon 
  {
    float: right;
    display: block;
	color : white;
	background-color: #333;

  }
  .topnav a.icon:hover 
  {
    background-color: #ddd;
		color : #333;
  }
}

@media screen and (max-width: 600px) 
{
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon 
  {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a 
  {
    float: none;
    display: block;
    text-align: left;
  }
 

}

/* Mobile */
@media (max-width: 767px) 
{
  body {
         font-size: 14px;
        
       }
	 .rotating-image
		    {
	          max-width: 50vw;
   
              height: auto;
              animation: spin 7s linear infinite;
              box-shadow: 4vw 4vw 8vw rgba(0, 0, 0, 0.3);
	        }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px)
{
  body 
  {
     font-size: 16px;
	
  }
	 .rotating-image
	 {
	
        max-width: 50vw;
        height: auto;
        animation: spin 7s linear infinite;
        box-shadow: 4vw 4vw 8vw rgba(0, 0, 0, 0.3);
	 }
}

/* Desktop */
@media (min-width: 1025px) 
{
    body 
	{
        font-size: 18px;
	  
    }
	  .rotating-image
	  {
	    max-width: 100vw;
     
        height: auto;
        animation: spin 7s linear infinite;
        box-shadow: 4vw 4vw 8vw rgba(0, 0, 0, 0.3);
	  }



}

